@font-face {
  font-family: Segoe;
  src: url(../fonts/Segoe.ttf);
}

@font-face {
  font-family: Calibri Light;
  src: url(../fonts/CalibriLight.ttf);
}

/* line 74, ../sass/helper.sass */
.z-1 {
  z-index: 1;
}

/* line 74, ../sass/helper.sass */
.z-2 {
  z-index: 2;
}

/* line 74, ../sass/helper.sass */
.z-3 {
  z-index: 3;
}

/* line 74, ../sass/helper.sass */
.z-4 {
  z-index: 4;
}

/* line 74, ../sass/helper.sass */
.z-5 {
  z-index: 5;
}

/* line 74, ../sass/helper.sass */
.z-6 {
  z-index: 6;
}

/* line 74, ../sass/helper.sass */
.z-7 {
  z-index: 7;
}

/* line 74, ../sass/helper.sass */
.z-8 {
  z-index: 8;
}

/* line 74, ../sass/helper.sass */
.z-9 {
  z-index: 9;
}

/* line 74, ../sass/helper.sass */
.z-10 {
  z-index: 10;
}

/* line 74, ../sass/helper.sass */
.z-11 {
  z-index: 11;
}

/* line 74, ../sass/helper.sass */
.z-12 {
  z-index: 12;
}

/* line 74, ../sass/helper.sass */
.z-13 {
  z-index: 13;
}

/* line 74, ../sass/helper.sass */
.z-14 {
  z-index: 14;
}

/* line 74, ../sass/helper.sass */
.z-15 {
  z-index: 15;
}

/* line 74, ../sass/helper.sass */
.z-16 {
  z-index: 16;
}

/* line 74, ../sass/helper.sass */
.z-17 {
  z-index: 17;
}

/* line 74, ../sass/helper.sass */
.z-18 {
  z-index: 18;
}

/* line 74, ../sass/helper.sass */
.z-19 {
  z-index: 19;
}

/* line 74, ../sass/helper.sass */
.z-20 {
  z-index: 20;
}

/* line 77, ../sass/helper.sass */
.black-skin {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  z-index: 10;
}

/* line 85, ../sass/helper.sass */
.next-button, .start-button, .keep-thinking, .result {
  border-radius: 50%;
  z-index: 11;
  width: 20%;
  height: 40%;
  position: absolute;
  left: 40%;
  top: 30%;
  background-color: white;
  color: black;
  font-size: 3vmax;
  text-align: center;
  padding-top: 8.5%;
}

/* line 99, ../sass/helper.sass */
.next-button:hover, .start-button:hover, .result:hover {
  color: white;
  background-color: black;
}

/* line 103, ../sass/helper.sass */
.absolute-max, #main, .frame, .intro-pic {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* line 110, ../sass/helper.sass */
.absolute, .reg-box, #frame-000 .annotation-hidden, #frame-000 .annotation-button, #frame-000 .copyright, .intro-video, .intro-pic .grade, .intro-pic .subject {
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* line 115, ../sass/helper.sass */
.transition-2s {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 122, ../sass/helper.sass */
.border-box, * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* line 129, ../sass/helper.sass */
* {
  font-family: Verdana;
}

/* line 134, ../sass/helper.sass */
.default-font, * {
  font-family: Verdana;
}

/* line 137, ../sass/helper.sass */
.blink-shadow {
  box-shadow: 0px 0px 10px 10px white;
  -moz-box-shadow: 0px 0px 10px 10px white;
  -o-box-shadow: 0px 0px 10px 10px white;
  -webkit-box-shadow: 0px 0px 10px 10px white;
  -ms-box-shadow: 0px 0px 10px 10px white;
}

/*PRE LOAD */
/* line 142, ../sass/helper.sass */
#pre-load {
  background-color: gainsboro;
}

/* line 145, ../sass/helper.sass */
#pre-load .pre-load-image {
  background-image: url(../pics/pre-loader.png);
  background-size: auto 100%;
  background-position: 0% 0%;
  width: 0%;
  height: 100%;
  position: absolute;
}

/*GLOBAL AND MENU */
/* line 155, ../sass/helper.sass */
body {
  position: absolute;
  margin: 0%;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  font-size: 50px;
}

/* line 169, ../sass/helper.sass */
.frame {
  background-size: 100% 100%;
  overflow: hidden;
}

/*REG BOX */
/* line 176, ../sass/helper.sass */
.reg-box {
  left: 80%;
  top: 75%;
  width: 19%;
  height: 20%;
  border-radius: 7px;
  border: 1px solid lightgrey;
  opacity: 0.9;
  color: white;
  background-color: grey;
  font-size: 20%;
  font-family: Verdana;
  padding: 1em;
  line-height: 2em;
  text-align: right;
  z-index: 10;
  font-family: Verdana;
}

/* line 192, ../sass/helper.sass */
.reg-box.topcorner {
  left: 1.5%;
  top: 95%;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 196, ../sass/helper.sass */
.reg-box .error {
  color: red;
  font-size: 80%;
  text-align: center;
}

/* line 201, ../sass/helper.sass */
.reg-box input {
  display: inlin-block;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 80%;
  font-family: Verdana;
  height: 2em;
  width: 13em;
  padding: 0.25em;
}

/* line 211, ../sass/helper.sass */
.reg-box .enter-button {
  display: inlin-block;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 80%;
  width: 10em;
  height: 2em;
  padding: 0.25em;
}

/* line 220, ../sass/helper.sass */
.reg-box .enter-button:hover {
  background-color: black;
  color: white;
}

/*ANNOTATION */
/* line 225, ../sass/helper.sass */
#frame-000 .annotation-hidden {
  z-index: 20;
  left: -120%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  padding: 3em 7em;
  font-size: 30%;
  font-family: Calibri Light;
  text-align: left;
}

/* line 237, ../sass/helper.sass */
#frame-000 .annotation-hidden ul li {
  font-family: Calibri Light;
  font-size: 75%;
}

/* line 241, ../sass/helper.sass */
#frame-000 .annotation-hidden .footer {
  font-family: Calibri Light;
  font-style: italic;
  font-size: 100%;
}

/* line 246, ../sass/helper.sass */
#frame-000 .annotation-hidden .header {
  font-family: Calibri;
  font-style: bold;
  font-size: 120%;
  display: block;
  min-width: 100%;
  text-align: center;
}

/* line 254, ../sass/helper.sass */
#frame-000 .annotation-shown {
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

/* line 257, ../sass/helper.sass */
#frame-000 .annotation-button {
  z-index: 21;
  left: 5%;
  top: 85%;
  width: 5%;
  height: 5%;
  font-size: 30%;
  color: white;
  cursor: pointer;
  text-align: center;
  text-shadow: 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black;
}

/* line 267, ../sass/helper.sass */
#frame-000 .annotation-button:hover {
  color: blue;
}

/* line 270, ../sass/helper.sass */
#frame-000 .annotation-button-close {
  color: gray;
}

/* line 273, ../sass/helper.sass */
#frame-000 .copyright {
  z-index: 15;
  left: 77%;
  top: 96%;
  width: 23%;
  height: 5%;
  font-size: 15%;
  color: black;
}

/*INTRO VIDEO */
/* line 285, ../sass/helper.sass */
.intro-video {
  display: block;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 23;
  background-color: white;
}

/*INTRO PIC */
/* line 294, ../sass/helper.sass */
.intro-pic {
  background-image: url(../pics/intro-pic.png);
  z-index: 22;
}

/* line 299, ../sass/helper.sass */
.intro-pic .grade {
  left: 26%;
  top: 36.8%;
  width: 4.85%;
  height: 8.2%;
  font-family: Calibri Light;
  font-size: 58%;
  color: white;
  text-align: center;
}

/* line 307, ../sass/helper.sass */
.intro-pic .subject {
  left: 41.95%;
  top: 45.8%;
  width: 40%;
  height: 13.1%;
  font-family: Calibri Light;
  font-size: 40%;
  color: #666564;
  text-align: left;
}

/* line 315, ../sass/helper.sass */
.intro-pic .subject .sub-part {
  font-size: 80%;
  font-family: Calibri Light;
}
